body{
    font-family: cursive;
}

/* navigation styling */
.navbar-default{
    background-color: rgb(126, 81, 230 ,0.95);
    border-radius: 0;
    border: 0;

}

.navbar-brand{
    height: auto;
}

.navbar-brand h1{
    color: white;
    font-weight: bold;
} 

h2{
    font-weight: bold;
}

#collapsable-nav a {
    font-size: 1.2em;
    text-transform: uppercase;
    
}


#nav-list{
    text-align: center;

}

.navbar-default .navbar-nav>li>a{
    color: white;
}

#nav-list a :hover{
    color: black;
    
} 
/* end navigation styling */

/* start main content */

#home-tiles{
    margin-top: 70px;
    margin-bottom: 50px;
}

.tiles{
    font-size: 1.6em;
    padding: 10px;
    /* border: black solid 1px; */
    background-color: rgba(126, 81, 230, 0.445);
    margin-bottom: 20px;
    padding: 14px 28px 15px 28px
}


.tiles h3{
    margin-top: auto;
    font-size : 25px;
    font-weight: bold;
}
/* end main content */



